@import url(//db.onlinewebfonts.com/c/7c274d633694f9a2be5321cfa4b31f8e?family=Blade+Runner+Movie+Font);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("./images/aa.jpg")
  }

.imageProfile{
  width: 200px;
  margin-left:300px;
}

.description{
  text-shadow: 0 0 2px rgb(41, 50, 51);
  display: flex;
  font-family: 'Bungee Inline';
  color: #ffffff;
  font-weight:300;
  font-size:25px;
  width:100%;
  justify-content:space-between;
  margin-bottom:50px;
}

.text1{
  color: #ffff;
  width: 25%;
  margin-left: 280px;
  background-color:rgba(34, 212, 72, 0.09);
  height:25%;
  border:3px double rgba(34, 212, 72, 0.541);
  border-radius: 25px;
  text-align:justify;
  padding:3px;
  text-shadow: -4.5px -4.5px #000000;
}

.text2{
  width: 25%;
  margin-top:200px;
  margin-right: 280px;
  border:3px double rgba(34, 212, 72, 0.541);    
  background-color:rgba(34, 212, 72, 0.09);
  height:25%;
  padding:3px;
  border-radius: 25px;
  text-shadow: -4.5px -4.5px #000000;
  text-align:justify;
}

.nameImage{
  display: flex;
  
}

.titleName{
  color: #ffffff;
  margin-left: 350px;
  margin-top: 50px;
  font-family: 'Blade Runner Movie Font';
}

.proyects{
  display: flex;
  justify-content: space-around;
  margin-top:50px;
}

.habitoImg{
  width: 200px;
  height: 300px;
  border-radius:30px;
  border: 3px solid #2a1641;
  transition: .9s;
}

.habitoImg1{
  width: 200px;
  height: 300px;
  border-radius:30px;
  border: 3px solid #2a1641;
}

.textProyect{
  text-shadow: -1.5px -1.5px #000000;
  text-align: justify;
  font-family: 'Bungee Inline';
  color: #ffffff;
  width: 400px;
}

.ancoreHabito{
  margin-left:100px
}

.proyectsTitle{
  color: #ffffff;
  font-family: 'Blade Runner Movie Font';
  font-size: 45px;
  margin-left:15%;
  width:370px;
  margin-bottom:70px
}

.headerimg{
  color: #ffffff;
  font-family: 'Blade Runner Movie Font';
  text-shadow: -1.5px -1.5px #000000;
}

.habitoImg:hover{
  box-shadow: 15px -5px 5px rgba(1, 191, 156, 0.09);
  border: 3px solid rgba(1, 191, 156, 0.09);
  transition: .9s;
}

.footer{
  display: flex;
  justify-content:center;
  width:100%;
  z-index:100;
  position:absolute;
  margin-top:20px;
  
}

.aicon{
  font-size:50px;
  margin:20px;
  margin-top: 10px;      
}

.github{
  text-align: center;
  color:#151714;
  font-family:"Blade Runner Movie Font";
  transition:1s;
  border:3px double rgba(130, 81, 158, 0.863);   
  background-color:rgba(96, 76, 108, 0.884);
}

.footergit:hover .github{
  
  color:#ffff;
  transition:1s;
}

.linkedin{
  text-align: center;
  color:#151714;
  font-family:"Blade Runner Movie Font";
  transition:1s;
  border:3px double rgba(130, 81, 158, 0.863);   
  background-color:rgba(96, 76, 108, 0.884);
}

.footerlinkedin:hover .linkedin{
  color:#ffff;
  transition:1s;
}

.email{
  text-align: center;
  color:#151714;
  width:80px;
  font-family:"Blade Runner Movie Font";
  transition:1s;
  border:3px double rgba(130, 81, 158, 0.863);   
  background-color:rgba(96, 76, 108, 0.884);
}

.footeremail:hover .email{
  color:#ffff;
  transition:1s;
}

#lienzo2{
  z-index: 50;
  position:relative;
}

.contacto{
  font-size:30px;
  width:200px;
  margin: auto;
  font-family:"Blade Runner Movie Font";
  color:#ffffff;
  margin-bottom: 0px;
}