<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post">
        <label for="">Name</label>
        <input type="text" name="name">
        <br>
        <br>
        <label for="">description</label>
        <input type="text" name="description">
        <br>
        <br>
        <label for="">Price</label>
        <input type="number" name="price">
        <br>
        <br>
        <label for="">Discount</label>
        <input type="number" name="discount">

        <p><button type="submit">Ok</button></p>
    </form>
</body>
</html>